1000G.EUR.QC.18.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.19.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.4.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.6.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.8.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.13.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.17.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.19.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.3.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.7.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.7.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.16.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.5.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.8.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.16.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.21.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.4.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.14.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.7.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.13.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.16.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.17.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.2.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.5.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.1.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.11.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.11.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.9.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.14.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.18.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.2.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.22.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.4.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.8.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.1.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.13.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.20.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.14.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.15.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.15.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.21.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.22.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.11.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.12.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.12.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.5.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.6.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.21.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.22.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.6.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.17.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.19.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.2.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.20.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.9.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.10.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.10.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.15.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.9.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.3.bed filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.3.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.10.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.18.fam filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.20.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.1.bim filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.12.bed filter=lfs diff=lfs merge=lfs -text
